<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poc.user_profile_sdk">

    <application>
        <activity android:name=".profile.activity.WebViewActivity"></activity>

    </application>

<!--    <uses-feature android:name="android.hardware.camera"-->
<!--        android:required="true" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>